name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  EXASOL_VERSION: latest-7.1
  NUM_NODES: 1
  TESTS_TIMEOUT: 15
  EXA_CLUSTER_SETUP_TIMEOUT: 15

jobs:
  io_tests_linux:
    name: IO tests Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2

      - name: Test IO combos (no TLS, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (no TLS, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,compression -- it_works_with_io_combo --ignored  --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (NativeTLS, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-native-tls -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (NativeTLS, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-native-tls,compression -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (Rustls, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-rustls-aws-lc-rs -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (Rustls, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-rustls-aws-lc-rs,compression -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true

  io_tests_macos:
    name: IO tests MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2

      - name: Test IO combos (no TLS, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (no TLS, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,compression -- it_works_with_io_combo --ignored  --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (NativeTLS, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-native-tls -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (NativeTLS, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-native-tls,compression -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (Rustls, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-rustls-aws-lc-rs -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (Rustls, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-rustls-aws-lc-rs,compression -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
  io_tests_windows:
    name: IO tests Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2

      - name: Test IO combos (no TLS, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (no TLS, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,compression -- it_works_with_io_combo --ignored  --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (NativeTLS, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-native-tls -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (NativeTLS, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-native-tls,compression -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (Rustls, no compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-rustls-aws-lc-rs -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true
          
      - name: Test IO combos (Rustls, with compression)
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,etl,tls-rustls-aws-lc-rs,compression -- it_works_with_io_combo --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true