name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  EXASOL_VERSION: 7.0.22
  NUM_NODES: 4
  TESTS_TIMEOUT: 15
  EXA_CLUSTER_SETUP_TIMEOUT: 15

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: Check format
        run: cargo +nightly fmt --check

  clippy:
    name: Clippy
    needs: format
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tls:
          [
            "--features tls-native-tls",
            "--features tls-rustls",
            "",
          ]
        other: ["--features compression,migrate,etl,bigdecimal,chrono,json,rust_decimal,time,uuid", ""]
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - uses: dtolnay/rust-toolchain@1.86.0
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy ${{ matrix.tls }} ${{ matrix.other }}
        env:
          RUSTFLAGS: -D warnings

  connection_tests:
    name: Connection tests
    needs: clippy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Free disk space
        uses: ./.github/actions/free-space

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2
      
      - name: Unit connection tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test -p sqlx-exasol-impl --features migrate -- --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.no-tls-url }}
          
      - name: Unit TLS connection tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test -p sqlx-exasol-impl --features native-tls,migrate -- --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.tls-url }}
          
      - name: Unit connection tests with compression
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test -p sqlx-exasol-impl --features migrate,compression -- --ignored --nocapture test_compression
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.no-tls-url }}
          
      - name: Unit TLS connection tests with compression
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test -p sqlx-exasol-impl --features native-tls,migrate,compression -- --ignored --nocapture test_compression
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.tls-url }}

      - name: Integration connection tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,migrate,bigdecimal,chrono,json,rust_decimal,time,uuid -- --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.no-tls-url }}

  etl_tests:
    name: ETL tests
    needs: clippy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Free disk space
        uses: ./.github/actions/free-space

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2

      - name: ETL tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features runtime-tokio,migrate,compression,etl -- test_etl --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.no-tls-url }}

      - name: Native-TLS ETL tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features tls-native-tls,runtime-tokio,migrate,compression,etl -- test_etl --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.tls-url }}

      - name: Rustls ETL tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --features tls-rustls-aws-lc-rs,runtime-tokio,migrate,compression,etl -- test_etl --ignored --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.tls-url }}

  compile_time_tests:
    name: Compile time tests
    needs: clippy
    runs-on: ubuntu-latest
    steps:      
      - uses: actions/checkout@v4

      - name: Free disk space
        uses: ./.github/actions/free-space

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2
      
      - name: Setup database
        run: cargo run -p sqlx-exasol-cli -- database create
        
      - name: Run migrations
        run: cargo run -p sqlx-exasol-cli -- migrate run tests/migrations
        
      - name: Run preferred crates tests
        run: cargo test --features runtime-tokio,migrate,macros,bigdecimal,time,json,uuid -- test_compile_time --ignored --nocapture
        
      - name: Run chrono tests
        run: cargo test --features runtime-tokio,migrate,macros,chrono -- test_compile_time_chrono --ignored --nocapture
        
      - name: Run rust_decimal tests
        run: cargo test --features runtime-tokio,migrate,macros,rust_decimal -- test_compile_time_rust_decimal --ignored --nocapture