name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  EXASOL_VERSION: 7.0.22
  NUM_NODES: 4
  TESTS_TIMEOUT: 15
  EXA_CLUSTER_SETUP_TIMEOUT: 15

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: Check format
        run: cargo +nightly fmt --check

  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: dtolnay/rust-toolchain@1.86.0

      - name: Check format
        run: cargo doc --workspace --no-deps --document-private-items --all-features
        env:
          RUSTDOCFLAGS: -D warnings

  clippy:
    name: Clippy
    needs: [format, docs]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features: ["--all-features", ""]
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - uses: dtolnay/rust-toolchain@1.86.0
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --tests ${{ matrix.features }}
        env:
          RUSTFLAGS: -D warnings

  connection_tests:
    name: Connection tests
    needs: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free disk space
        uses: ./.github/actions/free-space

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2

      - name: Unit tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: |
          compressions=( "--features compression" "" )
          tls_features=( "--features native-tls" "" )
          ssl_mode=( "required" "disabled" )
          
          for i in 0 1; do
            for j in 0 1; do
              export DATABASE_URL="$BASE_DATABASE_URL?ssl-mode=${ssl_mode[$j]}"
              cargo test -p sqlx-exasol-impl --features migrate ${tls_features[$j]} ${compressions[$i]} -- --nocapture
            done
          done
        env:
          BASE_DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}

      - name: Integration connection tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: cargo test --all-features -- --nocapture
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}?compression=false
          SQLX_OFFLINE: true

  etl_tests:
    name: ETL tests
    needs: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free disk space
        uses: ./.github/actions/free-space

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2

      - name: ETL tests
        timeout-minutes: ${{ fromJSON(env.TESTS_TIMEOUT) }}
        run: |
          tls_features=( "--features tls-native-tls" "--features tls-rustls-aws-lc-rs" "" )
          
          for i in 0 1 2; do
            cargo test --features runtime-tokio,compression,etl ${tls_features[$i]} -- test_etl --ignored --nocapture
          done
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}
          SQLX_OFFLINE: true

  compile_time_tests:
    name: Compile time tests
    needs: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free disk space
        uses: ./.github/actions/free-space

      - name: Create Exasol cluster
        timeout-minutes: ${{ fromJSON(env.EXA_CLUSTER_SETUP_TIMEOUT) }}
        id: exa-cluster
        uses: ./.github/actions/exa-cluster
        with:
          exasol-version: ${{ env.EXASOL_VERSION }}
          num-nodes: ${{ env.NUM_NODES }}

      - uses: dtolnay/rust-toolchain@1.86.0
      - uses: Swatinem/rust-cache@v2
      
      - name: Drop database (non-existent)
        run: cargo run -p sqlx-exasol-cli -- database drop -y
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}/test
          
      - name: Setup database
        run: cargo run -p sqlx-exasol-cli -- database create
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}/test

      - name: Run migrations
        run: cargo run -p sqlx-exasol-cli -- migrate run --source tests/migrations_compile_time
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}/test
          
      - name: Run prepare
        run: cargo run -p sqlx-exasol-cli -- prepare -- --tests --all-features
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}/test

      - name: Run tests
        run: |
          features=( "bigdecimal,time,json,uuid" "chrono" "rust_decimal" )
          filters=( "test_compile_time" "test_compile_time_chrono" "test_compile_time_rust_decimal" )
          
          for i in 0 1 2; do
            cargo test --features runtime-tokio,${features[$i]} -- ${filters[$i]} --ignored --nocapture
          done
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}/test
          
      - name: Drop database (existent)
        run: cargo run -p sqlx-exasol-cli -- database drop -y
        env:
          DATABASE_URL: ${{ steps.exa-cluster.outputs.url }}/test
